* {
  margin: 0;
  padding: 0;
  font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}
body{
  background-color: #141414 !important;
}
p {
  display: inline;
}
nav {
  padding: 2% 2%;
  min-height: 68px;
  
}
#markmaddison,#mccharty,#hasanfurkan,#melih,#yaman{
height: 55px;
display: inline-block;
}
nav *{
  z-index: 33;
}
.navbar-nav{
  align-items: center;
}
.header_melihflix{
  font-weight: 800;
  font-size: 27px !important;
}
.nav-link {
  text-decoration: none !important;
  opacity: 0.87 !important;
  font-size: 0.9em;
  color: #FFF !important;
  flex-grow: 4;
  margin-left: 14px;
  transition: all 0.4s !important;
  
}
.search-btn {
  transition: all 300ms !important;
}
.nav-link:not(.active):hover {
  opacity: 0.5 !important;
  color: #ffd041 !important;
}

#bildirim_main_ul {
  margin: 10px;
  height: 30px !important;
  list-style-type: none;
  padding: 0;
}
#bildirim_main_li {
  visibility: visible !important;
  color: white;
  width: 90px;
  font-size: 20px;
  margin: 0;
  cursor: pointer;
  padding: 0px 20px 20px;
}
#bildirim_main_li:hover ~ #bildirim_ul,
#bildirim_ul:hover {
  visibility: visible;
  opacity: 1;
}
i[id="downsign"] {
  transition: 500ms;
}
#bildirim_main_li:hover i[id="downsign"],
#bildirim_main_ul:hover i[id="downsign"],
.melih:hover i[id="downsign"],
#users_main_ul:hover i[id="downsign"] {
  transform: rotate(180deg);
}
#bildirim_ul li {
  padding: 10px 4px;
  margin: 0;
  transition: all 0.2s;
  height: 110px;
}
.bildirim_img {
  height: 70px;
  margin: 7px;

  width: 130px;
}
.bildirim_tarih {
  font-size: 12px;
}
.p2 {
  color: white;
  font-weight: 100;
  font-size: 17px;
  padding: 0px 7px;
  display: inline;
  opacity: 0.75;
  cursor: pointer;
  transition: all 0.4s;
}
#bildirim_ul {
  visibility: hidden;
  list-style-type: none;
  padding-top: 10px;
  padding-left: 5px;
  background-color: rgba(0, 0, 0, 0.81);
  margin-left: -399px;
  height: 450px;
  overflow: auto;
  margin-top: -1px;
  transition: all 0.3s;
  opacity: 0;
  width: 500px;
  color: white;
}
#bildirim_ul li {
  padding: 10px 4px;
  cursor: pointer;
  display: flex;
  transition: all 0.2s;
}
#bildirim_ul li:hover {
  background-color: #141414;
}
.users_li{
  width: 130% !important;
  margin-left: -20px;
}
.users_li:hover p{
  text-decoration: underline;

}
#users_main_ul {
  visibility: hidden;
  height: 100%;
  list-style-type: none;
}
hr {
  margin: 0 !important;
}
#img_header_right {
  height: 59px;
  padding-right: 6px;
}
datalist {
  display: none;
}
.melih {
  color: white;
  visibility: visible;
  height: 130%;
  width: 100%;
  vertical-align: center;
  display: flex;
  justify-content: center;
  font-size: 17px;
  align-items: center;
  cursor: pointer;
  margin-left: -50px;
}
.melih p {
  padding: 12px 0px 0px 5px;
}
#users_ul {
  visibility: hidden;
  opacity: 0;
  z-index: 33;
  transition: all 0.3s;
}
#users_ul i {
  visibility: hidden !important;
}
.melih:hover ~ #users_ul,
#users_ul:hover {
  display: inline-block;
  visibility: visible;
  opacity: 1;
}
.ul_images {
  height: 60px;
  padding-left: 5px;
  padding-bottom: 8px;
}
#users_ul {
  list-style-type: none;
  width: 230px;
  margin-left: -50px;
  padding: 6px;
  background-color: #141414;
  color: white;
}
.users{
  width: 90px !important;
}
#users_ul > * {
  cursor: pointer;
  margin: 6px 0px;
}
#users_ul li p {
  opacity: 0.8;
}
#users_ul li:hover p {
  text-decoration: underline;
  opacity: 1;
}

#search {
  width: auto;
}
#bildirim_main_ul,#users_main_ul{
    display: none;
}
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1a1a1a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(80, 80, 80, 0.548);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffc107;
}
@media (min-width: 992px) {
  nav {
    height: 68px !important;
  }
  #search {
    width: auto;
  }
  #bildirim_main_ul,#users_main_ul{
    display:inline-block;
}
}
